
/**
 * Based on the default jCarousel tango skin. Adapted for use with the Mini
 * Panels module by Wim Leers. GPL icons created by Kaj Heijmans.
 */

.jcarousel-skin-default.jcarousel-container {
  -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
  background: #F0F6F9;
  border: 1px solid #346F97;
}

.jcarousel-skin-default.jcarousel-container-horizontal {
  width: 16em;
  padding: 40px 0;
	padding-bottom: 0;
}

.jcarousel-skin-default.jcarousel-container-vertical {
  width: 16em;
  height: 100%;
  padding: 40px 0;
}

.jcarousel-skin-default .jcarousel-clip-horizontal {
  width:  16em;
  height: 100%;
}

.jcarousel-skin-default .jcarousel-clip-vertical {
  width:  16em;
  height: 18em;
}

.jcarousel-skin-default .jcarousel-item {
	width: 100%;
	height: 100%;
	padding: 0;
}

.jcarousel-skin-default .jcarousel-item .block {
	padding: 0 0 0 15px;
}

.jcarousel-skin-default .jcarousel-item-horizontal {
}

.jcarousel-skin-default .jcarousel-item-vertical {
	margin: 0;
}

.jcarousel-skin-default .jcarousel-item-placeholder {
  background: #fff;
  color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-default .jcarousel-next-horizontal {
    position: absolute;
    top: 5px;
    left: 37px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-default .jcarousel-next-horizontal:hover {
  background-position: -32px 0;
}

.jcarousel-skin-default .jcarousel-next-horizontal:active {
  background-position: -64px 0;
}

.jcarousel-skin-default .jcarousel-next-disabled-horizontal,
.jcarousel-skin-default .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-default .jcarousel-next-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}

.jcarousel-skin-default .jcarousel-prev-horizontal {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-default .jcarousel-prev-horizontal:hover {
  background-position: -32px 0;
}

.jcarousel-skin-default .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}

.jcarousel-skin-default .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-default .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-default .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-default .jcarousel-next-vertical {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-default .jcarousel-next-vertical:hover {
  background-position: 0 -32px;
}

.jcarousel-skin-default .jcarousel-next-vertical:active {
  background-position: 0 -64px;
}

.jcarousel-skin-default .jcarousel-next-disabled-vertical,
.jcarousel-skin-default .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-default .jcarousel-next-disabled-vertical:active {
  cursor: default;
  background-position: 0 -96px;
}

.jcarousel-skin-default .jcarousel-prev-vertical {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-default .jcarousel-prev-vertical:hover {
  background-position: 0 -32px;
}

.jcarousel-skin-default .jcarousel-prev-vertical:active {
  background-position: 0 -64px;
}

.jcarousel-skin-default .jcarousel-prev-disabled-vertical,
.jcarousel-skin-default .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-default .jcarousel-prev-disabled-vertical:active {
  cursor: default;
  background-position: 0 -96px;
}
